<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <%- include('../layouts/header.ejs') %>
    <header>
        <h1>Create Your Acount </h1>
    </header>
<br><br>
<div class="form-container">
    
    <form action="#" method="POST">
       
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" id="name" name="username" placeholder="Please Enter Your username" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Please Enter Your email" required>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" id="password" name="password" placeholder="Please Enter Your password" required>
        </div>
        <div class="form-group">
            <a href="/login" style="color: #008CBA;">Login to your account</a>
           </div>
        <div class="form-group">
            <button type="submit">Create Account</button>
        </div>
    </form>

</div>

</body>
</html>
<!-- Footer -->
<%- include('../layouts/footer.ejs') %>